.invalidfeedback {
    color: rgb(255, 0, 0);
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
    font-size: 12px;
}
.btnResetPassword_changeColor{
    background-color: #4e73df !important;
}